  :root {
    --bg-color: #fafafa;
    --primary-color: #0f0f0f;
    --secondary-color: #757575;
    --margin: clamp(20px, 6vw, 100px);
  }
  body{
    font-family: "Poppins", sans-serif;
    font-size: 1.125rem;
  }

  header {
    position: sticky;
    z-index: 9;
    display: flex;
    justify-content: space-between;
    margin: 55px var(--margin);
    white-space: nowrap;
  }

  .logo{
    width: 80px;
    height: auto;
  }

  .navlist {
    display: flex;
    list-style: none;
  }
  .navlist a {
    color: var(--primary-color);
    font-weight: 300;
    margin: 0 15px;
    transition: color 0.45s ease;
    text-decoration: none;
  }
  .navlist a:hover, a.active {
    color: var(--secondary-color);
  }
  
  /*burger menu css*/
  .burgermenu{
    display: none;
    cursor: pointer;
  }
  .bar{
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: #0f0f0f;
  }

  @media(max-width:768px){
    .burgermenu{
      display: block;
    }
    .burgermenu.active .bar:nth-child(1){
      transform: translateY(4px) rotate(45deg);
    }
    .burgermenu.active .bar:nth-child(2){
      transform: translateY(-4px) rotate(-45deg);
    }
    .navlist{
      position: fixed;
      left: -100%;
      top: 70px;
      gap: 0;
      flex-direction: column;
      width: 100%;
      text-align: center;
      transition: 0.3s;
    }
    .navitem{
      margin: 16px 0;
    }
    .navlist.active{
      left: 0;
    }

  }

